.breadcrumb {
  background-color: #F8F3F4;
}

.breadcrumb-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.breadcrumb-item-title {
  font-family: "Lato";
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  line-height: 28.8px;
  color: #F16D7F;
}
.breadcrumb-item-list {
  display: flex;
  list-style-type: none;
}
.breadcrumb-item-li:not(:last-child):after {
  content: '/';
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 16.8px;
  color: #636363;
}
.breadcrumb-item-link {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 16.8px;
  color: #636363;
  padding: 10px;
}
.breadcrumb-item-link:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
  color: #F16D7F;
}
