// styles for section products page index
.products {
  display: flex;
  flex-direction: column;
}
.products-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products-title {
  font-family: "Lato";
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  line-height: 36px;
  color: #222222;
}
.products-text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 16.8px;
  color: #9F9F9F;
}
.products-cards {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 95px;
}